.path-mod-exaaifeedback .label-row > td > *:last-child {
    margin-bottom: 0;
}

/* Hide activity description by default, show only on view and feedback_details */
.path-mod-exaaifeedback .activity-description {
    display: none;
}
#page-mod-exaaifeedback-view .activity-description,
#page-mod-exaaifeedback-feedback_details .activity-description {
    display: block;
}
