.path-mod-exaaifeedback .label-row > td > *:last-child {
    margin-bottom: 0;
}

/* Hide activity description by default, show only on view and feedback_details */
.path-mod-exaaifeedback .activity-description {
    display: none;
}
#page-mod-exaaifeedback-view .activity-description,
#page-mod-exaaifeedback-feedback_details .activity-description {
    display: block;
    text-align: justify;
}

.path-mod-exaaifeedback .ai-response {
    padding: 1rem 0;
    text-align: justify;
}
.path-mod-exaaifeedback .ai-response h1 {
    font-size: 160%;
}

.path-mod-exaaifeedback .ai-response h2 {
    font-size: 140%;
}

.path-mod-exaaifeedback .ai-response h3 {
    font-size: 120%;
}

